{% extends "base.html" %}
{% block title%}View Matches{% endblock %}
{% block style%}
  <link rel="stylesheet" type="text/css" href="../static/styles/matches.css">
{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home">Score Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/matches">View Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>{{user}}'s Matches</h1>
  </div>

  <!-- calculate needed card deck rows -->
  <!-- number of card deck rows should be number of matches divided by 3, rounded up -->
  {% for rows in range((matches|length/3)|round(method='ceil')|int) %} 
    <!-- start a new card deck row -->
    <div class="card-deck">
      <!-- each row should show max 3 cards, then rollover to the next card deck row -->
      {% for m in matches[rows*3:rows*3+3] %}
        <div class="card col-md-4 col-sm-10 col-xs-12">
          <div class="card-body">
            <h4 class="card-text">Opponent: {{m.opponent}}</h3>
            <h4 class="card-text">Score: {{m.score}}</h3>
            <p class="card-text">Date: {{m.date}}</p>
            <p class="card-text">Notes: {{m.notes}}</p>
            <!-- send the value of the id of the match to delete -->
            <form method="POST">
              <input type="hidden" name="match" value="{{m.id}}">
              <button class="btn btn-primary btn-card" type="submit">Delete</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}